/*ESTILOS DEL AVATAR DEL USUARIO QUE SE MUESTRA EN LA MINIATURA AL EDITAR DATOS USUARIO*/ 
 form .avatar{
    display: block;
    width: 100px;
    margin-bottom: 15px;
}

/*ESTILOS LABEL QUE PONE CAMBIAR AVATAR EN LA EDICION DE DATOS DE USUARIO*/
.labelavatar{
    display:block;
    margin-left: -39%;
    margin-top: 14%;
    margin-bottom: -10%;
}


/*ESTILOS DEL AVATAR QUE APARECE CUANDO UN USUARIO SUBE UNA IMAGEN EN EL LISTIN DE IMAGENES*/
.imagen_publicada .container-avatar{
    width: 65px;
    height: 65px;
    border-radius: 900px;
    overflow: hidden;
    float:left;
}

/*ESTILOS DE LA IMAGEN DEL AVATAR QUE SALE EN EL MENU ARRIBA A LA DERECHA AL LOGARNOS */ 
.navbar .container-avatar{
    width: 65px;
    height: 65px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 220%;
    margin-top: -14%;
}

/*ESTILOS DE LA ETIQUETA IMG DE LA IMAGEN DEL AVATAR QUE ESTA EN EL MENU Y DEL AVATAR QUE APARECE
CUANDO SE SUBE UNA IMAGEN*/
.navbar .container-avatar img,
.imagen_publicada .container-avatar img{
    height:100%;
    width: 100%;
}

/*ESTILOS DEL NOMBRE Y APELLIDOS  QUE APARECEN AL LADO DEL AVATAR AL PUBLICAR UNA IMAGEN*/
.imagen_publicada .data-user{
    font-weight: bold;
    margin-left:11%;
    margin-top: 6%;
}

/*ESTILOS DEL NOMBRE Y APELLIDOS  QUE APARECEN AL LADO DEL AVATAR AL PUBLICAR UNA IMAGEN
CUANDO ESTAMOS EN LA PANTALLA DE DETALLE DE LA IMAGEN DONDE SE VE LA IMAGEN MAS AMPLIADA*/
.imagen_publicada .data-user-detail{
    font-weight: bold;
    margin-left: 7%;
    margin-top: 4%;
}


/*ESTILOS DEL ENLACE DEL NOMBRE Y NICK PARA VER EL DETALLE DE LA FOTO*/
.imagen_publicada .data-user a{
    color:#444;
}


/*ESTILOS DEL NICK QUE SALE CON LA ARROBA AL LADO DEL NOMBRE DEL USUARIO CUANDO PUBLICA IMAGEN*/
.imagen_publicada .nickname{
    color:gray;
}


/*ESTILOS DE LAs TARJETAS */
.card{
    margin-bottom: 5%;
}

/*ESTILOS DEL CUERPO DE LA TARJETA */
.card .card-body{
    padding:0;
}


/*ESTILOS A LA HORA DE MOSTRAR LAS IMAGENES SUBIDAS EN EL HOME INDEX ES DECIR EN PAGINA PRINCIPAL*/
.image-container{
    /*width: 100%;*/
    max-height: 400px;
    overflow: hidden;
}

/*ESTILOS DE LAS IMAGENES EN SI QUE ESTAN EN LA PANTALLA PRINCIPAL DE TODAS LAS FOTOS SUBIDAS*/
.image-container img{
    width: 100%; /*ESTO HACE QUE LA IMAGEN SE VEA TODA ENTERA Y SE AJUSTE AL ESPACIO DE LA TARJETA*/
}

/*ESTILOS DEL CONTENEDOR DE LA IMAGEN CUANDO ESTAMOS EN LA PANTALLA DE DETALLE DE LA FOTO*/
.image-container-detail{
    /*width: 100%;*/
    max-height: 100vh;
    overflow: hidden;
}
/*ESTILOS DE LA IMAGEN CUANDO ESTA EN LA PANTALLA DE DETALLE DE LA IMAGEN */ 
.image-container-detail img{
    width: 100%;
}


/*ESTILOS DE LA DESCRIPCION QUE INCLUYE EL NICK Y LA DESCRIPCION*/
.imagen_publicada .description{
    padding: 0 2% 0 2%;    
}


/*ESTILOS DEL BOTÓN AMARILLO COMENTARIOS  QUE APARECE EN CADA IMAGEN SUBIDA*/
.imagen_publicada  .btn-comments{
    margin:2%;
    margin-top: 0;
}

/*ESTILOS DEL DIV QUE CONTIENE LA IMAGEN DEL CORAZON DE LIKE*/
.likes{
    padding: 1% 2% -1% 2%;
}

/*ESTILOS DE LA IMAGEN DEL CORAZON DE LIKE*/
.likes img{
    width:40%;
}


.container-comentarios-likes{
    display:flex;
    /*justify-content: space-between;*/
}